KH_AZURE_SIGNING_ENDPOINT=https://<region>.codesigning.azure.net
KH_AZURE_SIGNING_ACCOUNT=PASTE_CODE_SIGNING_ACCOUNT_NAME_HERE
KH_AZURE_CERTIFICATE_PROFILE=PASTE_CERTIFICATE_PROFILE_NAME_HERE
KH_AZURE_PUBLISHER_NAME=PASTE_CERTIFICATE_COMMON_NAME_HERE

AZURE_TENANT_ID=PASTE_TENANT_ID_HERE
AZURE_CLIENT_ID=PASTE_CLIENT_ID_HERE
AZURE_CLIENT_SECRET=PASTE_CLIENT_SECRET_HERE
